body{
	margin: 0;
	background-color: #e6c5a0;
}

.container{
	width: 100%;
	height: 100vh;
}

.top{
	background-color:#3a2825;
	height: 70px;

	display: flex;
	align-items: center;
	padding: 0 24px;
}

.mainlogo{
	height: 55px;
	width: auto;
	
}

.icons{
	margin-left:auto;
	display: flex;
	align-items:center;
	gap: 16px;
}



.icon{
	height:  24px;
	width: auto;
	cursor: pointer;
}
.thinbar{
	background-color:#a4442f;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.category-nav{
	display: flex;
	gap: 60px;
}

.category-nav a{
	color: white;
	font-size: 15px;
	font-family: ltc-broadway, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-weight: 600;
}
.category-nav a:hover{
text-decoration: underline;
}


.bg{
	background-color: #e6c6a3;
	height: calc(100vh - 110px);
	padding: 30px;
	display: flex;
	gap: 30px;
	align-items: flex-start;
}

.info-box{
	max-width: 260px;
	background-color: #f0d9c2;
	padding: 16px;
 border-radius: 10px ;
 font-family: Georgia,serif;
 margin-top: 30px;
}
.info-box h3{
margin-top: 0;
margin-bottom: 10px;
font-size:  24px;
letter-spacing: 1px;
}

.info-box p{
	margin: 0 0 10px;
	font-size: 24px;
	line-height: 1.4;
}

.login-text{
	color: white;
	font-size: 24px;
	font-family: ltc-broadway, sans-serif;
font-style: normal;
font-weight: 400;
cursor: pointer;
white-space:  nowrap;

}

.image1 img{
	width: 1200px;
	height: auto;
	border-radius: 6px;
}
