body{
	margin: 0;
	background-color: #e6c5a0;
}

.container{
	width: 100%;
	height: 100vh;
}

.top{
	background-color:#3a2825;
	height: 70px;

	display: flex;
	align-items: center;
	padding: 0 24px;
}

.mainlogo{
	height: 55px;
	width: auto;
	
}

.icons{
	margin-left:auto;
	display: flex;
	align-items:center;
	gap: 16px;
}



.icon{
	height:  24px;
	width: auto;
	cursor: pointer;
}
.thinbar{
	background-color:#a4442f;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.category-nav{
	display: flex;
	gap: 60px;
}

.category-nav a{
	color: white;
	font-size: 15px;
	font-family: ltc-broadway, sans-serif;
	font-weight: 400;
	font-style: normal;
	text-decoration: none;
	font-weight: 600;
}
.category-nav a:hover{
text-decoration: underline;
}




.login-text{
	color: white;
	font-size: 24px;
	font-family: ltc-broadway, sans-serif;
font-style: normal;
font-weight: 400;
cursor: pointer;
white-space:  nowrap;

}




.filters{
width: 380px;
padding: 10px;
margin-left: -20px;
}



.products{
	display: flex;
	justify-content: center;
	padding: 20px;
	
}

.products-img{
	width: 1000px;
	height: auto;
	display: block;
	margin-top: -460px;
}


