body{
	margin: 0;
	background-color: #e6c5a0;
}

.container{
	width: 100%;
	height: 100vh;
}

.top{
	background-color:#3a2825;
	height: 70px;

	display: flex;
	align-items: center;
	padding: 0 24px;
}

.mainlogo{
	height: 55px;
	width: auto;
	
}

.icons{
	margin-left:auto;
	display: flex;
	align-items:center;
	gap: 16px;
}



.icon{
	height:  24px;
	width: auto;
	cursor: pointer;
}
.thinbar{
	background-color:#a4442f;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.category-nav{
	display: flex;
	gap: 60px;
}

.category-nav a{
	color: white;
	font-size: 15px;
	font-family: ltc-broadway, sans-serif;
font-style: normal;
font-weight: 400;
	text-decoration: none;
	font-weight: 600;
}
.category-nav a:hover{
text-decoration: underline;
}


.bg{
	background-color: #e6c6a3;
	height: calc(100vh - 110px);
	padding: 30px;
	display: flex;
	gap: 30px;
	align-items: flex-start;
}
.login-text{
	color: white;
	font-size: 24px;
	font-family: ltc-broadway, sans-serif;
font-style: normal;
font-weight: 400;
cursor: pointer;
white-space:  nowrap;

}

.login-box{
	width: 420px;
	margin: 0 auto;
	text-align: center;
}

.login-box h1{
	margin-bottom: 100px;
	font-weight: 400;
}

.login-box input{
width: 100%;
height: 80px;
padding: 14 px 16px;
margin-bottom: 130px;
border-radius: 8px;
background-color: #f0d9c2;
font-size: 16px;
}



.login-note{
	font-size: 14px;
	margin-top: 40px;
}

.login-buttons{
	display: flex;
	justify-content: center;
	gap: 30px;
}

.login-buttons .btn1{
	background-color: #a4442f;
	color: white;

	border-radius: 8px;
	padding: 10px 26px;

	font-size: 18px;
	cursor: pointer;
}

.login-buttons .btn2{
	background-color: #a4442f;
	color: white;

	border-radius: 8px;
	padding: 10px 26px;

	font-size: 18px;
	cursor: pointer;
}